* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  
 
  :root{
      --main-color:rgb(87 134 180);
    
    
  }
/*
we add media quaries to the contaner in order to be responsive,
and don't put width just padding an marign.
*/

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
/* small */

@media (max-width:767px){
    .container{
        
        box-sizing: border-box;
    }
}
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium */

@media (min-width:992px){
    .container{
        width: 950px;
    }
}
/* large */

@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
.mine{
    background-color: #7f5f84;
    width: 100%;
    z-index: 1000;
}

header .container{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .container .usd i{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
header .container h2{
      font-family:  "Roboto", cursive;
      font-size: 30px;
      text-align: center;
      font-weight: 400;
      cursor: pointer;
    }

header .container h2 span{
   
    font-size: 20px;
}
header .container .links{
    display: flex;
}
header .container .links h3{
    color: #7f5f84;
    font-size: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-family: 'Dancing Script', cursive;
    cursor: default;
    margin: 2rem 0;
}
header .container .links span a{
    border: none;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    transition: 0.5s;
    padding: 1.5rem 0.5rem;
    transition: 0.5s;
    display: inline-block;
}
header .container .links span a:hover{
    background-color: white;
    color: #7f5f84;
}
@media (max-width:767px) {
    
    header .container h2{
        font-size: 25px;
        flex-basis: 70%;
    }
    header .container .usd i{
        font-size: 25px ;
        flex-basis: 10%;
    }
    header .container .links span{
        display: none;
    }
    header .container .links h3{
        display: flex;
    }
    header .container .links h3:hover + span{
       position:  absolute;
        display: flex;
        flex-direction: column;
        top:100%;
        width: 100%;
        background-color:#7f5f849e;
        right: 0;
        height: 90px;
        padding: 10px;
        text-align: right;
    }
}
@media (max-width:340px) {
    header .container h2{
        
        font-size: 1em;
       
      }
      
      header .container .links h3{
        font-size: 1.2em;
        width: 30px;
        height: 30px;
      }
      header .container h2 span{
   
        font-size: 1em;
    }
    
}
@media (max-width:220px) {
    header .container h2{
        font-size: 0.8em;
      }
      header .container h2 span{
   
        font-size: 0.8;
    }
}
.landing{
    background: linear-gradient(rgba(0,0,0,0.4),#684c6ccc) ,url(../assets/pexels-isabelle-taylor-1421176.jpg);
    background-size: cover;
    height: 90vh;
    width: 100%;
    color: white;
    padding-top: 18%;
    z-index: 1000;
}
.landing .container{
    text-align: center;
}
.landing .container h2{
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
    cursor: pointer;
}
.landing .container p{
    font-size: 0.7em;
    color: #ccc;
    cursor: pointer;
}
@media (max-width:767px) {
   
    .landing .container h2{
        font-size: 40px;
    }
    .landing .container p{
        font-size: 0.5em;
    }
    
}
@media (max-width:400px) {
    .landing{
        height: 60vh;
    }
}
@media (max-width:400px){
    .landing .container h2{
        font-size: 30px;
    }
}
nav{
    width: 100%;
    min-height: 50px;
    background-color: white;
    position: sticky;
    top:0;
     z-index: 1000;
     
}
nav .container {
    border-bottom: 2px solid #7f5f84;
}
nav .container .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav .container .list ul{
    display: flex;
    list-style: none;
}
nav .container .list ul li{
    transition: 0.5s;
    padding: 1.2rem 0.5rem;
}
nav .container .list ul li a{
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
    font-size: 13px;
}

nav .container .list ul li:hover{
    background-color: #7f5f84;
   
}
nav .container .list ul li:hover a{
    color: white;
}
nav .container > div .icons{
    flex-basis: 7%;
    justify-content: space-between;
    display: flex;
    text-align: right;
    z-index: 10;
}
nav .container > div .icons i{
    font-size: 17px;
    background-color: #fff;
    text-align: center;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    color: rgb(34, 34, 34);
    padding: 7px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
nav .container > div .icons i:hover{
    background-color: #7f5f84;
    border:none;
    padding: 7px;
    color: white;

}
nav .container > div .fa-bars{
    display: none;
    font-size: 17px;
    margin: 1.5rem 0;
    text-align: center;
    width: 33px;
    height: 33px;
    border: 1px solid #ccc;
    color: rgb(34, 34, 34);
    padding: 7px;
    border-radius: 50%;
    z-index: 10;
    background-color: #fff;
}
nav .container > div .fa-bars:hover{
    background-color: #7f5f84;
    border: none;
    color: #fff;
}
@media (max-width:767px) {
    nav .container .list ul{
        display: none;
        flex-direction: column;
        width: calc(100% + 30px);
        height: 100vh ;
        top: 80px;
        left: -15px;
        position: absolute;
        background-color:#7f5f84de;
        padding: 20px;
        transition: 0.5s;
    }
    nav .container .list i{
        display: block;
    }
    nav .container > div .icons{
        flex-basis: 20%;
        justify-content: space-between;
        display: flex;
        text-align: center;
    }
    nav .container .list ul.active{
        display: flex;
    }
    nav .container .list ul li{
        color: white;
        padding: 1rem 0;
    }
    nav .container .list ul li:hover{
        background: none;
        transform: translateX(10px);
    }
    nav .container .list ul li a{
        color: white;
        font-size: 1.1em;
    }
    nav .container > div{
        border-bottom: none;
        
    }
}

/* Categories */

.categories{
    background-color: #eee;
    padding: 40px 0;
}
.categories .container{
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}
.categories .container .box{
    position: relative;
    background-color: white;
    height: 300px;
}
.categories .container .box img{
    width: 100%;
    height: 100%;
}
.categories .container .box .overlay{
    position: absolute;
    width: 50%;
    text-align: center;
    padding: 10px 10px;
    background: linear-gradient(rgba(0,0,0,0.25),#7f5f84c5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 600;
   transition: 0.5s;
   cursor: pointer;

}
.categories .container .box .overlay:hover{
    background-color: #7f5f84;
}
.categories .container .box .over{
   padding: 10px 20px;
   color: #777;
   text-align: center;

}
.categories .container .box .over h3{
    color: #333;
    margin: 10px 0;
    font-weight: 600;
    font-size: 15px;
}
.categories .container .box .over h3 span{
    color: #7f5f84;

    font-size: 20px;
}
.categories .container .box .over .cart{
    padding-bottom: 20px;
}
.categories .container .box .over .cart a{
    color: #7f5f84;
    text-decoration: none;
    border: 2px solid #333;
    padding: 5px 15px;
    font-size: 0.9em;
    border-radius: 20px;
    margin-left: 10px;
    font-weight: 600;
}
@media (max-width:430px) {
    .categories .container{
        grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    }
}
@media (max-width:250px) {
    .categories .container{
        grid-template-columns: repeat(auto-fill,minmax(120px, 1fr));
    }
    .categories .container .box .overlay{
        font-size: 0.8em;
        font-weight: 400;
    }
}

/* Slider */
.slider-container{
    width: 55vw;
    position: relative;
    margin: 1rem auto 2rem;  
    height: 80vh; 
    overflow: hidden;
    border-radius: 0.5rem;
    border: 5px solid rgba(85, 85, 85, 0.753);
    font-family: 'Dancing Script', cursive;
}

.slider-container .slide{
    position: absolute;
    width: 100%;
    transition: all 0.6s ease-in-out;
    height: 100%;
    overflow: hidden;
}
.slider-container .slide img{
    /* height: 100%; */
    width: 100%;
   
}
.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
#prev-btn{
    margin-right: 1rem;
}
.btn-container .pagination{
    border: none;
    background-color: rgba(85, 85, 85, 0.884);
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1.2rem;
}

/*  */
.flex{
    min-height: 70vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.flex .container .flex-box{
    display: grid;
    grid-template-columns: 10% 45% 45%;
    justify-content: space-between;
}
.flex .container .flex-box .box-1{
    background-color: rgb(241 86 127 / 64%);
    padding: 2rem 1rem;
}
.flex .container .flex-box .box-1 ul{
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   list-style: none;
   font-size: 1.3em;
   width: 100%;
}
.flex .container .flex-box .box-1 ul li{
    margin-bottom: 2rem;
}

.flex .container .flex-box .box-2 img{
    width: 100%;
    
   
}

.flex .container .flex-box .box-3 .child-1{
         background-color: #e5d548;
         margin-bottom: 0.3rem;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 1.6rem 0;
}
.flex .container .flex-box .box-3 .child-1 p{
    color: white;
    font-size: 20px;
    font-weight: 800;
    
}
.flex .container .flex-box .box-3 .child-2{
       background-color: yellowgreen;
       margin-bottom: 0.2rem;
       padding: 2rem 0;
       display: flex;
       align-items: center;
       justify-content: center;
}
.flex .container .flex-box .box-3 .child-2 a{
    color: white;
    font-size: 15px;
    font-weight: 800;
    text-decoration: none;
    padding: 5px 8px;
    background-color: #7f5f84;
    transition: 0.5s;
}
.flex .container .flex-box .box-3 .child-2 a:hover{
    color: #7f5f84;
    background-color: white;
    
}

.flex .container .flex-box .box-3 .child-3 img{
    width: 100%;
}

@media (max-width:991px) {
    .flex .container .flex-box .box-3 .child-1{
        margin-bottom: 0.4rem;
        padding: 1rem 0;
    }
    .flex .container .flex-box .box-3 .child-2{
        margin-bottom: 0.4rem;
        padding: 1rem 0;
    }
    .flex .container .flex-box .box-1{
        padding: 2rem 1rem;
    }
}
@media (max-width:700px) {
    .flex .container .flex-box{
        display: flex;
       flex-direction: column;
    }
    .flex .container .flex-box .box-1 ul{
        flex-direction: row;
    }
    .flex .container .flex-box .box-1 ul li{
        margin-bottom: 0;
        padding: 0.5rem;
    }

}
@media (max-width:320px){
    .flex .container .flex-box .box-1 ul li{
        font-size: 0.8em;
        padding: 0.2rem;
    }
}
@media (max-width:233px){
    .flex .container .flex-box .box-1 ul li{
        font-size: 0.7em;
        padding: 0.1rem;
    }
}
.offer-3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.offer-3 .container{
    padding: 0;
}
.offer-3 .container .content{
    width: 100%;
    
}
.offer-3 .container .content img{
    width: 100%;
}
.offer-3 .container .text{
    background-color: #7f5f84;
    width: 100%;
   justify-content: center;
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.offer-3 .container .text p{
    font-size: 25px;
    color: white;
    font-weight: 800;
}
@media (max-width:767px) {
  
    .offer-3 .container .text p{
        font-size: 1em;
    }
}


.banner-1{
    border-bottom: 3px solid #7f5f84;
    padding-bottom: 50px;
    background-color: #eee;
    padding-top: 30px;
}
.banner-1 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-1 .container .best-seller{
    flex-basis: 47%;
    text-align: center;
}
.banner-1 .container .best-seller h2{
    margin-bottom: 20px;
    color: #2b6471bf;
    font-size: 35px;
    transition: 0.5s;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
}
.banner-1 .container .best-seller h2:hover{
    color: white;
    background-color: #2b6471bf;
    border-radius: 5px;
}
.banner-1 .container .best-seller .content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.banner-1 .container .best-seller .content .image{
    flex-basis: 50%;
    text-align: start;
}
.banner-1 .container .best-seller .content .image img{
    width: 100%;
    border-radius: 10px;
}
.banner-1 .container .best-seller .content .text{
           flex-basis: 47%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          height: 550px;
          
}
.banner-1 .container .best-seller .content .text h3{
   text-transform: uppercase;
   padding: 5px 10px;
   background-color: #2b6471bf;
   color: white;
   font-size: 25px;
   margin-bottom: 12px;
   font-family: 'Dancing Script', cursive;
}
.banner-1 .container .best-seller .content .text ul{
    list-style: none;
    text-align: left;
    padding: 10px 20px 10px 0;
    color: #777;
    font-size: 1.1em;
}
.banner-1 .container .best-seller .content .text ul li{
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.banner-1 .container .best-seller .content .text ul li:hover{
    color: #2b6471bf;
    transform: translateY(-2px);
}

.banner-1 .container .best-seller .content .text img{
    width:100%;
    border-radius: 10px;
   
}
.banner-1 .container .best-seller .content .text .box {
        background-color: #e5d548;
        border-radius: 10px;
       display: flex;
       justify-content: center;
       align-items: center;
        width: 100%;
        flex-direction: column;
        padding: 2rem 0;
        margin-top: 1rem;
} 
.banner-1 .container .best-seller .content .text .box p{
    font-size: 18px;
    color: white;
    font-weight: 800;
    margin-bottom: 30px;
}
.banner-1 .container .best-seller .content .text .box a{
   
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #777;
    border-radius: 20px;
    transition: 0.6s;
    margin-bottom: 10px;
}
.banner-1 .container .best-seller .content .text .box a:hover{
    color: #777;
    background-color: white;
}
@media (max-width:767px) {
    .banner-1 .container{
        flex-direction: column;
    }

    .banner-1 .container .best-seller .content .text .box {
        padding: 15% 5%;
        
}
.banner-1 .container .best-seller h2{
    margin: 30px 0;
}
}

@media (max-width:450px){
    .banner-1 .container .best-seller .content{
        flex-direction: column;
    }
    .banner-1 .container .best-seller .content .text .box{
        margin-bottom: 1rem;
    }
}

.theory{
    background-image:linear-gradient(#000000d4, #000000d4), url(../assets/pexels-pineapple-supply-co-191429.jpg);
    background-size: cover;
    width: 100%;
    background-position:bottom;
    color: white;
    border-top: 2px solid #7f5f84;
    border-bottom: 2px solid #7f5f84;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.theory .container{
    color: white;
    z-index: 2;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.theory .container h2{
        font-size: 33px;
        margin-bottom: 20px;
        color: #7f5f84;
}
.theory .container p{
   line-height: 1.8em;
   font-size: 1em;
   color: #ffffffc2;
}
@media (max-width:767px){
    .theory .container h2{
        font-size: 20px;
        
}
.theory .container p{
   
   font-size: 0.7em;
}

}
.banner-2{
     margin-top: 50px;
     
}
.banner-2 .container{
           padding-top: 30px;
           padding-bottom: 40px;
           border-radius: 25px;
           background-color: #2b64711c;
}
.banner-2 .container .text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
}
.banner-2 .container .text h2{
    color:#2b6471bf;
    font-size: 30px;
    margin: 0 0 20px 20px;
}
.banner-2 .container .text i{
    color: #2b6471bf;
    font-size: 30px;
    margin: 0 0 20px 20px;
}
.banner-2 .container .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-2 .container .box .child{
       flex-basis: 32%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}
.banner-2 .container .box .child .image-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.banner-2 .container .box .child .image-1 img{
    width: 100%;
    border: 3px solid #2b647157;
}
.banner-2 .container .box .child .image-1 .caption{
    position: absolute;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.3),#2b6471bf);
    padding: 20% 10% 0 10%;
    bottom: -100%;
    left: 0;
    transition: 0.8s;
    color: white;
    text-align: center;
    height: 100%;
}
.banner-2 .container .box .child .image-1 .caption h4{
    font-size: 25px;
    margin-bottom: 10px;
    color: #e5d548;
}
.banner-2 .container .box .child .image-1 .caption p{
    font-size: 0.8em;
    margin-bottom: 10px;
    color: white;
    line-height: 1.6em;
}
.banner-2 .container .box .child .image-1 .caption a{
    font-size: 15px;
    text-decoration: none;
    color:#e5d548;
    background-color: #000000b8;
    padding: 7px 20px;
    transition: 0.5s;
}
.banner-2 .container .box .child .image-1 .caption a:hover{
    background-color: #e5d548;
    color: white;
}
.banner-2 .container .box .child .image-1:hover .caption{
    bottom: 0;
}
@media (max-width:290px) {

    .banner-2 .container .box .child .image-1 .caption h4{
        font-size: 0.8em;  
    }
    .banner-2 .container .box .child .image-1 .caption p{
        font-size: 0.7em;
    }
    .banner-2 .container .box .child .image-1 .caption a{
        font-size: 0.7em;
        padding: 7px 12px;
    }
}
@media (max-width:260px) {
    .banner-2 .container .text{
        flex-direction: column
        ;
    }
}

/* .image-2 */

.banner-2 .container .box .child .image-2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.banner-2 .container .box .child .image-2 img{
    width: 100%;
    border: 3px solid #2b647157;
}
.banner-2 .container .box .child .image-2 .caption{
    position: absolute;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.3),#2b6471bf);
    padding: 40% 10% 0 10%;
    bottom: -100%;
    left: 0;
    transition: 0.8s;
    color: white;
    text-align: center;
    height: 100%;
}
.banner-2 .container .box .child .image-2:hover .caption{
    bottom: 0;
}
.banner-2 .container .box .child .image-2 .caption h4{
    font-size: 25px;
    margin-bottom: 10px;
    color: #e5d548;
}
.banner-2 .container .box .child .image-2 .caption p{
    font-size: 0.8em;
    margin-bottom: 10px;
    color: white;
    line-height: 1.6em;
}
.banner-2 .container .box .child .image-2 .caption a{
    font-size: 15px;
    text-decoration: none;
    color:#e5d548;
    background-color: #000000b8;
    padding: 7px 20px;
    transition: 0.5s;
}
.banner-2 .container .box .child .image-2 .caption a:hover{
    background-color: #e5d548;
    color: white;
}
@media (max-width:767px) {
    .banner-2 .container .box{
        flex-direction: column;
           
        
    }
    .banner-2 .container .box .child .image-1 {
        width: 80%;

    }
    .banner-2 .container .box .child .image-2 {
        width: 80%;
    }
}
@media (max-width:290px) {

    .banner-2 .container .box .child .image-2 .caption h4{
        font-size: 0.8em;  
    }
    .banner-2 .container .box .child .image-2 .caption p{
        font-size: 0.7em;
    }
    .banner-2 .container .box .child .image-2 .caption a{
        font-size: 0.7em;
        padding: 7px 12px;
    }
}

.contact-us{
    background: linear-gradient(rgba(0,0,0,0.8),#231125cc) ,url(../assets/pexels-lumn-298660.jpg);
    color: #7f5f84;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.contact-us .header h2{
      text-align: center;
      font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 40px;
}
.contact-us .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-us .container .box{
    flex-basis: 47%;
    padding-top: 50px;
    color: #7f5f84;
}
.contact-us .container .box .child{
    margin-bottom: 1rem;
    padding: 15px;
    transition: 0.5s;
    width: 40%;
    border-radius: 10px;
    cursor: pointer;
}
.contact-us .container .box .child:hover{
   background-color: #7f5f84;
   transform: translateX(15px);
  
}
.contact-us .container .box .child:hover .icn{
  color: #333;
   
 }
.contact-us .container .box .child .icn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.contact-us .container .box .child .icn i{
   margin-right: 10px;
    
}
.contact-us .container .box .child p{
    color: #ccc;
    font-size: 0.8em;
}
.contact-us .container .box input{
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    height: 50px;
    padding: 0.8rem 0.5rem;
    border-bottom: 1px solid #7f5f84;
    caret-color: #7f5f84;
}
.contact-us .container .box textarea{
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #7f5f84;
    margin-bottom: 20px;
}
.contact-us .container .box button{
    background-color: transparent;
    color: #7f5f84;
    padding: 5px 10px;
    font-size: 0.8em;
    font-weight: 600;
    border: 2px solid #7f5f84;
    cursor: pointer;
    transition: 0.8s;
}
.contact-us .container .box button:hover{
    background-color: #7f5f84;
    color: #ccc;
}
@media (max-width:767px){
    .contact-us .header{
       
        font-size: 1.5em;
  }
    .contact-us .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-us .container .box{
        flex-basis: 90%;
        text-align: center;
    }
    .contact-us .container .box .child{
        width: 80%;
    }
    .contact-us .container .box .child:hover{
        background-color: #7f5f84;
        transform: translatey(-15px);
     }
}
.footer{
     background-color: #333;
     color: #7f5f84;
     padding-top: 2rem;
     padding-bottom: 2rem;
     cursor: pointer;
     width: 100%;
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    grid-gap: 15px;
    
}
.footer .container .box ul li{
    list-style: none;
    margin-top: 14px;
    color: #777;
    font-size: 0.8em;
    transition: 0.5s;
    padding: 0.5rem;
}
.footer .container .box ul li:hover{
    transform: translateY(-3px);
}
.footer .container .box ul.active{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 1em;
}
.footer .container .box ul li a{
    color: #7f5f84;
    transition: 0.5s;
    font-size: 20px;
}
.footer .container .box ul li a:hover{
    transform: translateY(-6px);
}
@media (max-width:445px){
    .footer .container .box{
        text-align: center;
        
    }
    .footer .container .box ul.active{
        
        justify-content: center;
    }
}
@media (max-width:350px) {
    .footer .container .box ul li{
        padding: 0.2rem;
    }
}

/* price */

.price .container .box{
    height:initial;
}
.price .container .box img{
    height:300px;
}
@media (max-width:250px) {
    .price .container .box .over p{
        font-size: 0.7em;
    }
    .price .container .box .over h3{
        font-size: 0.8em;
    }
    .price .container .box .over h3 span{
        font-size: 0.8em;
    }
    .price .container .box .over .cart{
        display: flex;
        flex-direction: column;
    }
    .price .container .box .over .cart a{
        font-size: 0.7em;
        padding: 3px 7px;
        border-width: 1px;
        margin-top: 1rem;
    }
}


.sign-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.596);
    top: 0;
    left: 105%;
    z-index: 1000;
    transition: 0.5s;
}
.sign-container.active{
    left: 0;
}
.sign-container .sign-box{
    width: 50%;
    margin:6rem auto;
    display: flex;
    justify-content: center;
    background-color: rgb(82, 54, 82);
    align-items: center;
    padding: 2rem 0;
    position: relative;
}
.sign-container .sign-box #close{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 50px;
    background-color: rgb(104, 62, 104);
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-container .sign-box form {
    width: 80%;
}
.sign-container .sign-box form input#username, .sign-container .sign-box form input#password{
    width: 100%;
    padding: 0.2rem 1rem;
    background: none;
    border: 1.5px solid rgb(0, 0, 0);
    outline: none;
    margin-bottom: 1rem;
   
}
.sign-container .sign-box form label{
    color: #7f5f84;
    font-weight: 600;
}
.sign-container .sign-box form h2{
    text-align: center;
    margin-bottom: 1rem;
    color: #7f5f84;
}
.sign-container .sign-box form #submit{
    width: 80%;
    margin: auto;
    display: block;
    background-color: #7f5f84;
    color: rgb(19, 18, 18);
    font-weight: bold;
    border: none;
    padding: 0.3rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.sign-container .sign-box form span{
    display: block;
    margin-bottom: 0.4rem;
}
.sign-container .sign-box form span a{
    text-decoration: none;
    color: #7f5f84;
    font-weight: bold;
    margin: 0 0.5rem;
}

/* About us section */
.about .container h2{
    font-family:  'Roboto', cursive;
    color: #7f5f84;
    text-align: center;
    margin: 2rem 0 1rem; 
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 40px;
}
.about .container h4{
    font-family:  'Roboto', cursive;
    color: #555;
    text-align: center;
    letter-spacing: 10px;
    font-size: 1em;
    margin-bottom:2rem; 

}
.about .container .booster{
    width: 100%;
    margin: auto;
    min-height: 150px;
    background-image: url('../assets/pexels-dmitry-zvolskiy-1879066.jpg');
    background-size: cover;
    background-position: center;
}

.about .container .content{
    margin: 1rem 0;
    width: 70%;
}
.about .container .content .btns{
    width: 100%;
    margin-bottom: 1rem;
}
.about .container .content .btns button{
    width: calc(96% / 3);
    border: none;
    padding: 0.5rem 0;
    border-radius: 5px;
    font-weight: 600;
    color: #333;
    transition: 0.5s;
}
.about .container .content .btns button:hover{
    background-color: #7f5f84b0;
    color: white;
}
.about .container .content .btns button.active{
    background-color: #7f5f84;
    color: white;
}
.about .container .content h3{
    color: #7f5f84;
   font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 1rem;
}
.about .container .content .text{
    display: none;
}
.about .container .content .text.active{
    display: block;
}
.about .container .content .text p{
      font-size: 0.8em;
      line-height: 1.5em;
      color: #555;
      margin-bottom: 1rem;
}
.social-media ul{
    margin-top: 1rem;
}
.social-media ul li{
    list-style: none;
    margin-top: 14px;
    color: #777;
    font-size: 0.8em;
    transition: 0.5s;
    padding: 0.5rem;
}
.social-media ul li:hover{
    transform: translateY(-3px);
}
.social-media ul.active{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 1em;
}
.social-media ul li a{
    color: #7f5f84;
    transition: 0.5s;
    font-size: 20px;
}
.social-media ul li a:hover{
    transform: translateY(-6px);
}
#goals ol{
    padding-left: 2rem;
}
#goals ol li{
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

#goals ol li:hover{
    transform: translatex(5px);
    color: #c527dd;
}
#vision h4{
    font-family:  'Roboto', cursive;
    color: #555;
    text-align: left;
    letter-spacing: 5px;
    font-size: 1em;
    margin-bottom:0.5rem; 
    transition: 0.5s;
    cursor: default;
}
#vision h4:hover{
    color: #a431b6;

}

/* Categories.html */

.categories .container .box .cat-title{
  
    padding: 1rem 0.5rem;
    transition: all 0.5s ease-in-out;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.categories .container .box .cat-title p{
    transition: all 0.5s ease-in-out;
}
.Categories-html .container .box{
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 15px 20px rgb(0 0 0 / 20%);
    background-color: transparent !important;
    max-height: 570px;
}

.Categories-html .box:hover .cat-title p{
   transform: translateX(10px);
}


/* cart */
.furn-cart{
    position: fixed;
    width: 40vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    right: -105%;
    background-color:#7f5f84d7;
    padding:0.5rem 2rem 0 2rem;
    color: #fff;
    transition: 0.5s;
}
.furn-cart.active{
    right: 0;
}
.furn-cart .closeCart{
    margin-bottom: 1rem;
    padding: 0.3rem 2rem 0 0;
    width: 100%;
    display: flex;
    justify-content: right;
    height: 40px;
}
.furn-cart .closeCart i{
    padding: 1rem;
    background-color: #af6cb9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.furn-cart .child{
   
    padding: 1rem 0;
    border-bottom: 1.2px solid #333;
}
.furn-cart .child .img-text{
    display: flex;
}
.furn-cart .child .img-text img{
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    border: 3px solid rgba(51, 51, 51, 0.486);
    border-radius: 10px;
}
.furn-cart .child .img-text .text{
    padding-top: 0.3rem;
}
.furn-cart .child .img-text .text p {
    margin-bottom: 0.7rem;
}

.furn-cart .child .img-text .text a{
    color: #fff;
    background-color: #9c54a7;
    padding: 0.4rem 1.4rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.5rem;
}

/*****************Changes***********************/
#container .box  a
{
    text-decoration: none;
    color: rgba(51, 51, 51, 0.884);
}


#container .box
{
    border-radius: 20px;
}

#container .box img 
{
    border-radius: 20px;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;

}

#container .box:hover img
{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* specification */

.specification{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #54175091;
}
.specification .container{
    display: flex;
    justify-content: space-between;
}
.specification .container .content{
    flex-basis: 47%;
    cursor:default;

}
.specification .container .content .child{
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: 1s;
}

.specification .container .content .child i{
    box-shadow: 0px 0 20px 0px rgb(0 0 0 / 30%);
    padding: 1rem;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 0.5rem;
    color: #333;
    transition: 1s;
}
.specification .container .content .child .text{
    padding: 0.6rem 1rem;
    
}
.specification .container .content .child:hover i{
   
    transform: rotate(360deg);
}
.specification .container .content .child .text h3{
    color: #541750;
    margin-bottom: 0.5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 30px;
}
.specification .container .content .child .text p{
    color: #333;
    font-size: 0.8em;
    line-height: 1.5em;
    
}
.specification .container .content-prog{
    flex-basis: 47%;
    padding-top: 1.5rem;
    cursor:default;
}
.specification .container .content-prog h3{
    display: inline-block;
    color: #222;
    margin-bottom: 1rem;
    background-color: #5417506e;
    padding: 0.7rem;
    box-shadow: 0px 0 20px 0px rgb(0 0 0 / 30%);
}
.specification .container .content-prog h4{
  
    color: #222;
    margin-bottom: 0.5rem;
   
}
.specification .container .content-prog p{
    font-size: 0.7em;
    line-height: 1.2em;
    color: #333;
    margin-bottom: 3rem;
}

.specification .container .content-prog .percent{
    position: relative;
    background-color: #555;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 1rem;
}
.specification .container .content-prog .percent span{
    position: absolute;
    width: 0;
    transition: 2s;
    height: 100%;
    background-color: #541750;
    border-radius: 15px;
}
@media (max-width:750px) {
    .specification .container{
        flex-direction: column;
    }
}


